ANTHROPIC_API_KEY=your_anthropic_api_key
YDC_API_KEY=your_you_com_api_key

# LangSmith
LANGSMITH_API_KEY=your_langsmith_api_key  # Optional

# Enable LangSmith traces
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://aws.api.smith.langchain.com
LANGSMITH_PROJECT="My LangSmith project"
